<div class="ribbon-wrap">
  <h1 class="ribbon">ランキング</h1>
</div>
  <h6>＊ 間違えて入力してしまった情報は、家計簿または食事記録から削除することができます。</h6>
<div class="contents">
  <h2 class="text-small hr-bottom--thin">
    <i class="icon-crown"></i>CO<sub>2 </sub>排出量<%= image_tag 'co2.jpeg', :size => "80x80" %>
  </h2>
  <ul class="ranking">
    <% @users = [] %>
    <% @ranking1.each do |user| %>
      <% unless Kakeibo.where(user_id: user.id).sum(:env_load) == 0 %>
        <% @users << user %>
      <% end %>
    <% end %>
    <% @users.each.with_index(1) do |user, i| %>
      <li>
        <%= i %>位
        <% if user.avatar_file_name.blank? %>
          <div class="image2"><%= image_tag 'alt.png', :size => "100x100" %></div>
        <% else %>
          <div class="image2" style="background-image: url(<%= user.avatar.url(:medium) %>);"></div>
        <% end %>
        <h3 class="rank">
          <%= user.name %><br>
          <%= (Kakeibo.where(user_id: user.id).sum(:env_load) / (user.setai * Kakeibo.where(user_id: user.id).group(:month).sum(:env_load).count)).round(2) %> kg<sub> /(人・月)</sub>
        </h3>
      </li>
    <% end %>
  </ul>
</div>
<hr>
<div class="contents">
  <h2 class="text-small hr-bottom--thin no-space-bottom">
    <i class="icon-crown color-gray-light"></i><%= image_tag 'vw.jpeg', :size => "50x50" %> バーチャルウォーター量
  </h2>
  <ul class="ranking">
    <% @ranking2.each.with_index(1) do |user, i|  %>
      <li>
        <%= i %>位
        <% if user.avatar_file_name.blank? %>
          <div class="image2"><%= image_tag 'alt.png', :size => "100x100" %></div>
        <% else %>
          <div class="image2" style="background-image: url(<%= user.avatar.url(:medium) %>);"></div>
        <% end %>
        <h3 class="rank">
          <% meal = Meal.where(user_id: user.id).select(:cuisine_id) %>
          <%= user.name %><br>
          <%= ((Meal.where(user_id: user.id).sum(:virtualwater) * 1000) / (Cuisine.where(id: meal).sum(:calorie) ** 2)).round(2) %> mL<sub>/kcal<sup>2</sup></sub>
        </h3>
      </li>
    <% end %>
  </ul>
</div>
<hr>
<div class="contents">
  <h2 class="text-small hr-bottom--thin no-space-bottom">
    <i class="icon-crown color-gray-light"></i><%= image_tag 'fm2.png', :size => "70x70" %>フードマイレージCO<sub>2 </sub>排出量 <%= image_tag 'fm1.jpeg', :size => "60x60" %>
  </h2>
  <ul class="ranking">
    <% @ranking3.each.with_index(1) do |user, i|  %>
      <li>
        <%= i %>位
        <% if user.avatar_file_name.blank? %>
          <div class="image2"><%= image_tag 'alt.png', :size => "100x100" %></div>
        <% else %>
          <div class="image2" style="background-image: url(<%= user.avatar.url(:medium) %>);"></div>
        <% end %>
        <h3 class="rank">
          <% meal = Meal.where(user_id: user.id).select(:cuisine_id) %>
          <%= user.name %><br>
          <%= ((Meal.where(user_id: user.id).sum(:foodmileage) * 1000) / (Cuisine.where(id: meal).sum(:calorie) ** 2)).round(2) %> mg<sub>/kcal<sup>2</sup></sub>
        </h3>
      </li>
    <% end %>
  </ul>
</div>