
<div class="ribbon-wrap">
  <h1 class="ribbon">ランキング</h1>
</div>
<div class="contents">
  <h2 class="text-small hr-bottom--thin">
    <i class="icon-crown"></i>CO2排出量<%= image_tag 'co2.jpeg', :size => "80x80" %>
  </h2>
  <ul class="ranking">
    <% @ranking1.each.with_index(1) do |user, i|  %>
      <li>
        <% if i == 1 %>
          <%= image_tag 'ha.png', :size => "40x40", :class => "ha" %><%= i %>位
        <% else %>
          <%= i %>位
        <% end %>
        <% if user.avatar_file_name.blank? %>
          <div class="image2"><%= image_tag 'alt.png', :size => "100x100" %></div>
        <% else %>
          <div class="image2" style="background-image: url(<%= user.avatar.url(:medium) %>);"></div>
        <% end %>
        <h3 class="rank">
          <%= user.name %>
        </h3>
      </li>
    <% end %>
  </ul>
</div>
<hr>
<div class="contents">
  <h2 class="text-small hr-bottom--thin no-space-bottom">
    <i class="icon-crown color-gray-light"></i><%= image_tag 'vw.jpeg', :size => "50x50" %> バーチャルウォーター量
  </h2>
  <ul class="ranking">
    <% @ranking2.each.with_index(1) do |user, i|  %>
      <li>
        <% if i == 1 %>
          <%= image_tag 'ha.png', :size => "40x40", :class => "ha" %><%= i %>位
        <% else %>
          <%= i %>位
        <% end %>
        <% if user.avatar_file_name.blank? %>
          <div class="image2"><%= image_tag 'alt.png', :size => "100x100" %></div>
        <% else %>
          <div class="image2" style="background-image: url(<%= user.avatar.url(:medium) %>);"></div>
        <% end %>
        <h3 class="rank">
          <%= user.name %>
        </h3>
      </li>
    <% end %>
  </ul>
</div>
<hr>
<div class="contents">
  <h2 class="text-small hr-bottom--thin no-space-bottom">
    <i class="icon-crown color-gray-light"></i><%= image_tag 'fm2.png', :size => "70x70" %>フードマイレージCO2排出量 <%= image_tag 'fm1.jpeg', :size => "60x60" %>
  </h2>
  <ul class="ranking">
    <% @ranking3.each.with_index(1) do |user, i|  %>
      <li>
        <% if i == 1 %>
          <%= image_tag 'ha.png', :size => "40x40", :class => "ha" %><%= i %>位
        <% else %>
          <%= i %>位
        <% end %>
        <% if user.avatar_file_name.blank? %>
          <div class="image2"><%= image_tag 'alt.png', :size => "100x100" %></div>
        <% else %>
          <div class="image2" style="background-image: url(<%= user.avatar.url(:medium) %>);"></div>
        <% end %>
        <h3 class="rank">
          <%= user.name %>
        </h3>
      </li>
    <% end %>
  </ul>
</div>