
<% if @month.present? %>
<div class="contents">
  <h1>今月のCO<sub>2 </sub>排出量　<%= image_tag 'co2.jpeg', :size => "80x80" %></h1>
  <div class="env"><h1><%= (@env[@month.month].floor.to_s(:delimited)) %>kg</h1></div>
  <table>
    <caption>環境負荷（CO2排出量）</caption>
    <thead>
      <tr>
        <th class="month">年月</th>
        <th>電気</th>
        <th>ガス</th>
        <th>水道</th>
        <th>合計</th>
      </tr>
    </thead>
    <thead>
    <tbody>
      <tr>
        <% denki = @denki[@month.month].round(1) %>
        <% gas = @gas[@month.month].round(1)  %>
        <% suidou = @suidou[@month.month].round(1) %>
        <% env = @env[@month.month].round(1) %>
        <% denki_ave = (964.58 * @user.setai / 12).round(1) %>
        <% gas_ave = (253.39 * @user.setai / 12).round(1) %>
        <% suidou_ave = (46.84 * @user.setai / 12).round(1) %>
        <% env_ave = ((964.58 + 253.39 + 46.84) * @user.setai / 12).round(1) %>
        <td><%= @month.month %></td>
        <% if denki > denki_ave %>
          <th class="over"><%= denki %>kg</th>
        <% else %>
          <th class="low"><%= denki %>kg</th>
        <% end %>
        <% if gas > gas_ave %>
          <th class="over"><%= gas %>kg</th>
        <% else %>
          <th class="low"><%= gas %>kg</th>
        <% end %>
        <% if suidou > suidou_ave %>
          <th class="over"><%= suidou %>kg</th>
        <% else %>
          <th class="low"><%= suidou %>kg</th>
        <% end %>
        <% if env > env_ave %>
          <th class="over"><%= env %>kg</th>
        <% else %>
          <th class="low"><%= env %>kg</th>
        <% end %>
      </tr>
      <tr>
        <td>平均値（<%= @user.setai %>人世帯の場合）</td>
        <th><%= denki_ave %>kg</th>
        <th><%= gas_ave %>kg</th>
        <th><%= suidou_ave %>kg</th>
        <th><%= env_ave %>kg</th>
      </tr>
    </tbody>
  </table>
  <div class="graph">
    <h3 id="env">　月別 CO<sub>2 </sub>排出量の推移（kg）</h3>
      <%= column_chart @env, height: "500px", width: "450px", colors: ["dcc2ff"] %>
  </div>
</div>
<% end %>
<hr>
<div class="contents">
  <h1><%= image_tag 'vw.jpeg', :size => "50x50" %> 今月のバーチャルウォーター量</h1>
  <div class="vw"><h1><%= @meal_vw.round.floor.to_s(:delimited) %> L</h1></div>
  <div class="graph">
    <h3 id="env">　日別 バーチャルウォーター量推移（L）</h3>
      <%= column_chart @vw, height: "500px", width: "450px", colors: ["66FFFF"] %>
  </div>
</div>
<hr>
<div class="contents">
  <h1>今月のフードマイレージ CO<sub>2 </sub>排出量</h1>
  <div class="fm"><h1><%= @meal_fm.round.floor.to_s(:delimited) %> g</h1></div>
  <div class="graph">
    <h3 id="env">　日別 フードマイレージ CO<sub>2 </sub>排出量推移（g）</h3>
      <%= column_chart @fm, height: "500px", width: "450px", colors: ["ccCC66"] %>
  </div>
</div>
