
  <div class="contents row">
    <%= render partial: "kakeibo" %>
  </div>
  <div class="graph">
    <h3 id="denki"><%= image_tag 'denki1.png', class: 'image' %>￥電気料金推移</h3>
      <%= column_chart @denki_data, height: "500px", width: "450px", colors: ["#98fb98"] %>
  </div>
  <div class="graph">
    <h3 id="gas"><%= image_tag 'gasu1.png', class: 'image' %>￥ガス料金推移</h3>
      <%= column_chart @gas_data, height: "500px", width: "450px", colors: ["#ffa500"] %>
  </div>
  <div class="graph">
    <h3 id="suidou"><%= image_tag 'mizu.png', class: 'image' %>￥水道料金推移</h3>
      <%= column_chart @suidou_data, height: "500px", width: "450px", colors: ["#afeeee"] %>
  </div>

  <div class="graph">
    <h3 id="denki"><%= image_tag 'denki1.png', class: 'image' %>電気使用量推移</h3>
      <%= column_chart @denki, height: "500px", width: "450px", colors: ["#98fb98"] %>
  </div>
  <div class="graph">
    <h3 id="gas"><%= image_tag 'gasu1.png', class: 'image' %>ガス使用量推移</h3>
      <%= column_chart @gas, height: "500px", width: "450px", colors: ["#ffa500"] %>
  </div>
  <div class="graph">
    <h3 id="suidou"><%= image_tag 'mizu.png', class: 'image' %>水道使用量推移</h3>
      <%= column_chart @suidou, height: "500px", width: "450px", colors: ["#afeeee"] %>
  </div>
