<div id="kakeibo">
  <%= render 'error_messages' %>
  <%= form_for @kakeibo do |f| %>
  <div id="input_consmonth">
    <table class="input_consmonth1">
        <thead>
          <tr>
            <h4>・年月を選択してください</h4>
            <th><%= f.month_field :month, value: (Time.now) %></th>
          </tr>
        </thead>

          <div class="contents">
            <tr>
              <th class="kakei">
                <%= image_tag 'denki1.png', :size => "100x100" %>電気
              </th>
              <td>
                <%= f.number_field :denki, placeholder: '１ヶ月分の使用量（kWh）', min: 5 %>
                <%= f.number_field :denki_cost, placeholder: '料金（¥)' %>
                <%= f.hidden_field :user_id, value: current_user.id %>
              </td>
            </tr>
            <tr>
              <th class="kakei">
                <%= image_tag 'gasu1.png', :size => "100x100" %>ガス
              </th>
              <td>
                <%= f.number_field :gas, placeholder: '１ヶ月分の使用量（m3）' %>
                <%= f.number_field :gas_cost, placeholder: '料金（¥）' %>
              </td>
            </tr>
            <tr>
              <th class="kakei">
                <%= image_tag 'mizu.png', :size => "100x100" %>水道
              </th>
              <td>
                <%= f.number_field :suidou, placeholder: '１ヶ月分の使用量（m3）' %>
                <%= f.number_field :suidou_cost, placeholder: '料金（¥）' %>
              </td>
            </tr>
        </tr>
      </div>
    </table>
    <%= f.submit "登録", class: "btn-primary" %>
  </div>
  <% end %>
</div>