<div class="navbar navbar-inverse navbar-fixed-top">
<header class="header">
  <div class="header__bar row">
    <% if logged_in? %>
      <div class="user_nav grid-6">
        <% if current_user.avatar_file_name.blank? %>
          <div class="image1"><%= image_tag 'ha.png', :size => "100x100" %></div>
        <% else %>
          <div class="image1" style="background-image: url(<%= current_user.avatar.url(:medium) %>);"></div>
        <% end %>
          <span><%= current_user.name %>
            <ul class="user__info">
              <li><a href="/users/<%= current_user.id %>", class="btn">マイページ</a></li>
              <li><%= link_to "ログアウト", logout_path, method: "delete", class: "btn" %></li>
              <li><%= link_to "設定", edit_user_path(current_user), class: "btn" %></li>
            </ul>
          </span>
      </div>
      <button type="button" id="menubtn">
        <i class="fa fa-bars"></i><span>MENU</span>
          <ul>
            <li><%= link_to "ホーム", users_path, class: "btn" %></li>
            <li><a class="btn" href="/kakeibos/new">家計簿入力</a></li>
            <li><a class="btn" href="/meals/new">食事入力</a></li>
            <li><%= link_to "環境負荷", kakeibo_path(current_user.id), class: "btn" %></li>
            <li><%= link_to "食事記録", meals_path, class: "btn" %></li>
            <li><%= link_to "家計簿", kakeibos_path, class: "btn" %></li>
          </ul>
      </button>
    <% else %>
      <div class="grid-6">
        <%= link_to "ログイン", login_path, class: "post" %>
        <%= link_to "新規登録", signup_path, class: "post" %>
      </div>
    <% end %>
  </div>
</header>
</div>