<div class="navbar navbar-inverse navbar-fixed-top">
<header class="header">
  <div class="header__bar row">
    <% if logged_in? %>
      <div class="user_nav grid-6">
        <% if current_user.avatar_file_name.blank? %>
          <div class="image1"><%= image_tag 'ha.png', :size => "100x100" %></div>
        <% else %>
          <div class="image1" style="background-image: url(<%= current_user.avatar.url(:medium) %>);"></div>
        <% end %>
          <span><%= current_user.name %>
            <ul class="user__info">
              <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", logout_path, method: "delete", class: "btn" %></li>
              <li><%= link_to "è¨­å®šã®å¤‰æ›´", edit_user_path(current_user), class: "btn" %></li>
              <li><% if current_user.admin? && !current_user?(user) %>
                | <%= link_to 'ã‚¢ã‚«ã‚¦ãƒ³ãƒˆå‰Šé™¤', user, method: :delete,
                 data: { confirm: "æœ¬å½“ã«ã„ã„ã§ã™ã‹ï¼Ÿ" }, class: "btn" %>
              <% end %>
              </li>
            </ul>
          </span>
      </div>
      <button type="button" id="menubtn">
        <i class="fa fa-bars"></i><span>MENU</span>
          <ul>
            <li><%= link_to "ðŸ  ç’°å¢ƒè² è·", kakeibo_path(current_user.id), class: "btn" %></li>
            <li><%= link_to "ãƒ©ãƒ³ã‚­ãƒ³ã‚°", users_path, class: "btn" %></li>
            <li><%= link_to "å®¶è¨ˆç°¿", kakeibos_path, class: "btn" %></li>
            <li><%= link_to "ã‚«ãƒ­ãƒªãƒ¼æ‰‹å¸³", meals_path, class: "btn" %></li>
            <li><a class="btn" href="/kakeibos/new">å…‰ç†±æ°´å…¥åŠ›</a></li>
            <li><a class="btn" href="/meals/new">é£Ÿäº‹å…¥åŠ›</a></li>
          </ul>
      </button>
    <% else %>
      <div class="grid-6">
        <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", login_path, class: "post" %>
        <%= link_to "æ–°è¦ç™»éŒ²", signup_path, class: "post" %>
      </div>
    <% end %>
  </div>
</header>
</div>